* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Nib Pro';
  src: url('../../public/fonts/NibPro/NibPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue/HelveticaNeueRoman.otf')
    format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Brolink Demo';
  src: url('../../public/fonts/BroLink/BrolinkDemo-VGyMZ.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
